<div id="<%= dom_id balance %>">
  <p>
    <strong>Year:</strong>
    <%= balance.year %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= balance.month %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= balance.income_id %>
  </p>

  <p>
    <strong>Expenditure:</strong>
    <%= balance.expenditure_id %>
  </p>

</div>
